.App {
  text-align: center;
  background-color: rgb(252, 238, 230)
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

.font-bold {
  font-weight: 700;
}

.font-med {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.links {
  text-decoration: none !important;
  color: rgb(235, 76, 65);
}

.links:hover {
  text-decoration: none !important;
  color: rgb(190, 61, 52);
}

.picker {
  margin-top: auto;
  float: right;
  min-width: 200px;
}

.picker-group {
  align-items: center;
  margin-top: 25px;
  padding-bottom: 10px;
}

::placeholder { 
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

:-ms-input-placeholder { 
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

::-ms-input-placeholder { 
  font-family: 'Jost', sans-serif;
  font-weight: 300;
}

.header {
  float: left;
}

.logout {
  float: right;
}

.topbar {
  padding-bottom: 40px;
}
